@import 'variables';

  #tweetCardContainer{
    border :0.1rem solid $bordercolors;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding:0.5rem;
    &:hover{
      background-color:$tweetCardBgColor;
      transition: 0.5s;
    }
    #tweetCardImg{
      margin-top:1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    #tweetContainer{  ///////TweetContainer
      width:100%;
      display: flex;
      flex-direction: column;
      gap:0.5rem;
    #tweetContainerTop{
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      #tweetContainerTopName{
        flex-grow:0;
        font-family: $lineText;
        color:$darkBgColor;
        font-size: 1.1rem;
        font-weight:700;
      }
      #tweetContainerTopUserName{
        flex-grow:0;
        font-family: $lineText;
        color:$darkBgColor;
        font-size: 1rem;
        padding-left: 0.3rem;
      }
      #tweetContainerTopIconWrapper{
        position:relative;
        flex-grow: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap:0.5rem;
        #tweetContainerTopTime{
        font-family: $lineText;
        color:$darkBgColor;
        font-size: 1rem;
        }
        #tweetContainerTopIcon{
          position: relative;
          @include iconsButton;
          &:hover{
            background-color: #a5f3fc;
            color:#155e75;
            transition: 1s;
          }  
            #tweetContainerIcons{
              @include tweetContainerIcons
            }
        }
        #dropDownNav{
          position:absolute;   
          width:10rem;
          background-color: white;
          border-radius: 1rem;
          box-shadow: 2px 2px #888888;
          overflow: hidden;
        }
        button{
          width:100%;
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-family: $lineText;
          color:$logoutBorderColor;
          font-size: 1rem;
          border: none;
          list-style-type: none;
          font-weight:bolder;   
          background-color: transparent;  
          cursor: pointer;  
          &:hover{
            background-color:$lightGrayBgColor;
          }
          &:disabled,
            button[disabled] {
  
                color: $darkHeaders;   
                cursor: not-allowed;
            }
          
        }
      }
    }
    #tweetContainerMid{
      display: flex;
      padding-right: 2rem;
      line-height: 1.5rem;
      font-size: 1rem;
      font-family: $lineText;
      color:$darkText;
      overflow: visible;
      overflow-wrap: anywhere;
      box-sizing: border-box;
    }
    #tweetContainerBottom{  ///////BottomContainer
      display: flex;
      justify-content: space-between;

      #tweetContainerBottomMessageIcon_Wrapper{
        display: flex;
        flex-direction:row;
        align-items: center;
        background-color: transparent;
        gap:0.2rem;
        border: none;
        cursor: pointer;
        &:hover #tweetContainerMessageIcon{
          background-color: #a5f3fc;
          color:#155e75;
          transition: 1s;
        }   
        &:hover #tweetContainerBottomText{
          color:#155e75;
          transition: 1s;
        } 
          #tweetContainerBottomText{
            font-size: 1rem;
            font-family: $lineText;
            color:$bordercolors;    
          }
          #tweetContainerMessageIcon{
            position: relative;
            @include iconsButton; 
          }    
            #tweetContainerIcons{
            @include tweetContainerIcons
              }
          }
          #tweetContainerRetweetIcon{
            position: relative;
            @include iconsButton;
            &:hover{
              background-color: #a7f3d0;
              color:#065f46;
              transition: 1s;
            }
            #tweetContainerIcons{
              @include tweetContainerIcons
              }
          }
      #tweetContainerBottomLikeIcons_Wrapper{
        display: flex;
        flex-direction:row;
        align-items: center;
        background-color: transparent;
        gap:0.2rem;
        border: none;
        cursor: pointer;
        &:hover  #tweetContainerLikeIcon{
          background-color: #fecaca;
            color:#991b1b;
            transition: 1s;
        }
        &:hover  #tweetContainerLikeCountText{
          color:#991b1b;
          transition: 1s;
        }

        #tweetContainerLikeCountText{
          font-size: 1rem;
          font-family: $lineText;
          color:$bordercolors;    
          }
        #tweetContainerLikeIcon{
          position: relative;
          @include iconsButton;
        }
        #tweetContainerIcons{
          @include tweetContainerIcons
          }
      }
      #tweetContainerBottomLikeIcons_Wrapper_Liked{
        display: flex;
        flex-direction:row;
        align-items: center;
        background-color: transparent;
        gap:0.2rem;
        border: none;
        cursor: pointer;
        #tweetContainerLikeCountText{
          font-size: 1rem;
          font-family: $lineText;
          color:#991b1b;   
          }
        #tweetContainerLikeIcon{
          position: relative;
          @include iconsButton;
        }
        #tweetContainerIcons{
          @include tweetContainerIcons;
          color:#991b1b;
          }
      }
          
          #tweetContainerCountIcon{
            position: relative;
            @include iconsButton;
            &:hover{
              background-color: #a5f3fc;
              color:#155e75;
              transition: 1s;
            }  
            #tweetContainerIcons{
              @include tweetContainerIcons

              }
          }
          #tweetContainerForwardIcon{
            margin-right:4rem;
            position: relative;
            @include iconsButton;
            &:hover{
              background-color: #a5f3fc;
              color:#155e75;
              transition: 1s;
            }  
            #tweetContainerIcons{
              @include tweetContainerIcons
            }
          }
    }
    
  }
  }