//Colors
$lightTextColor:#FFFFFF;
$lightBgColor :#FFFFFF;
$darkBgColor : #252128;
$lightGrayBgColor:#e2e8f0;
$verylightGrayBgColor:#f8fafc;
$tweetCardBgColor:#f8fafc;
$darkHeaders: #AEBCCF;
$primaryHeaders: #1F2937;
$bordercolors: #AEBCCF;
$logoutBgColor:#fca5a5;
$logoutBorderColor:#f87171;
$logoutHoverBgColor:#f87171;
$tweetCardBgColor:#f8fafc;



//Fonts
$headersText:'Anton',cursive;
$lineText:'Plus Jakarta Sans',cursive; 
$lineText1:'Inter',normal;