//Colors
$lightTextColor:#FFFFFF;
$lightBgColor :#FFFFFF;
$darkBgColor : #252128;
$darkHeaders: #AEBCCF;
$primaryHeaders: #1F2937;
$bordercolors: #AEBCCF;
$logoutBgColor:#b91c1c;
$logoutBorderColor:#991b1b;
$logoutHoverBgColor:#ef4444;



//Fonts
$headersText:'Anton',cursive;
$lineText:'Plus Jakarta Sans',cursive; 
$lineText1:'Inter',normal;